*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------- */


/* header  */

.container-header{
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo{
  margin-right: 10px;
}

.logo img{
  width: 100%;
}

.button, select{
  border-radius: 5px;
  border: 1px solid gray;
}

select{
  background-color: rgb(236, 236, 236);
  padding: 3px 40px 3px 0;
  margin: 0px 10px 0px 2px;
}

.button{
  padding: 3px 20px 3px 20px;
  margin-right: 20px;
}

.button:active{
  background-color: rgba(128, 128, 128, 0.528);
}

/* main  */
main{
  background-color: black;
}

.container{
  width: 700px;
  margin: 0 auto;
  background-color: blue;
  height: 700px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.square{
  width: calc(100% / 10);
  height: calc(100% / 10);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.clicked{
  background-color: rgb(114, 173, 233);
}


/* footer*/

footer{
  width: 100%;
  height: 50px;
}

.container-footer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-footer a{
  color: blue
}